<!DOCTYPE html>
<html lang="en">
<head>
    <title> Music Visualization using 3js.</title>
    <link rel="stylesheet" href = '../css/style.css'>
</head>
<body>
     <h1 id = 'usicViz'> Music Visualizer</h1>

    <!-- <button id = 'toggleLightorDark'>Toggle Mode</button> -->
<div class = 'music-box'>
    <input type="file" id="musicInput" accept=".mp3, .ogg, .wav" /> 
    <audio id="musicPlayer" controls>
        <source src="" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>
    <button id="playButton">Play</button>
</div>
    <div id = 'scene-container'></div>
    <script type ='module' src="/js/music_player.js"></script>
    <script type = 'module' src="/js/visualization.js"></script>
    <script type ='module' src="/js/toggle.js"></script>

</body>
</html>
